- const name = 'Evano';
.container__content.content 
    h2.content__welcome= `Hello, ${name}` 
     i &#128075
    .content__inner 
        .content__top
            .content__title 
                h2 All Customers 
                p Active Members
            .content__search
                img(src="../src/image/search.svg", alt="search")
                input(type="search" name="search" placeholder="Search")
        include table 