//- testing for loop to make a content with varibals 
//- - const menuValue = ['Dashboard', 'Product', 'Customers', 'Income', 'Promote', 'Help'];
//- - const pic = ['key-square', 'square', 'user-square', 'wallet-money', 'discount', 'question'];
         //- each value in menuValue
         //- .item 
         //-    .item__picture
         //-       img(src=`/src/image/square.svg`, alt="key- square")
         //-    h2.item__text
         //-       p #{value}


.container__sidebar.sidebar
   .sidebar__menu
      .sidebar__logo
         img(src="../src/image/logo.svg", alt="logo")
         h1.sidebar__titel Dashboard 
            span v.01
      nav
         include mixin
         +item('key-square', 'Dashboard')
         +item('square', 'Product')
         +item('user-square', 'Customers')
         +item('wallet-money', 'Income')
         +item('discount', 'Promote')
         +item('question', 'Help')
   .sidebar__user
      +user('Evano', 'Project Manager', 'face')
