@import "variables.scss";

.container__content {
    width: 100vw;
    margin: 4rem 9.5rem 25rem 7rem;
}

.content {
    &__welcome {
        font-size: 2.4rem;
        font-weight: 500;
        color: $name;
        margin-bottom: 5rem;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4rem;
    }

    &__title {
        h2 {
            font-size: 2.2rem;
            font-weight: 600;
            margin-bottom: 1rem;
        }
    }

    &__inner {
        width: 70vw;
        height: 100vh;
        background-color: $text;
        border-radius: 3rem;
        box-shadow: 0 1rem 6rem rgba(226, 236, 249, 0.5);

        p {
            color: #16c098;
            font-size: 1.4rem;
            font-weight: 400;
        }
    }

    &__search {
        display: inline-flex;
        border-radius: 1rem;
        height: 4rem;
        width: 20rem;
        background-color: #f9fbff;
        input {
            border: 0;
            background-color: #f9fbff;
        }
        input:focus {
            outline: none;
        }
        img {
            width: 2.4rem;
            margin-right: 1rem;
            margin-left: 1rem;
        }
    }

    &__table {
        padding: 0 4rem 4rem 4rem;
        width: 100%;
        th {
            color: $table-head;
            font-size: 1.4rem;
            font-weight: 500;
            text-align: start;
            height: 5rem;
            border-bottom: 1px solid #eeeeee;
        }
        td {
            text-align: start;
            font-size: 1.4rem;
            font-weight: 500;
            color: $table-body;
            height: 7rem;
            border-bottom: 1px solid #eeeeee;
        }
        // hr {
        //     border: 1px solid #eeeeee;
        // }
    }
}
