.sidebar {
    width: 22%;
    background-color: #ffffff;
    &__menu {
        margin: 3rem;
    }

    &__logo {
        display: flex;
        align-items: center;
    }

    h1 {
        margin-left: 1rem;
    }

    span {
        font-size: 0.8rem;
        font-weight: 300;
    }
    .item {
        display: flex;
        margin: 6rem 0 0 0;
        padding: 1.3rem 0;
        &__text {
            margin-left: 2rem;
            color: #9197b3;
        }
    }
    .item:hover {
        background-color: #5932ea;
    }
}
