@import "variables.scss";

.container__sidebar {
    display: flex;
    min-width: 22vw;
    background-color: $text;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar {
    &__menu {
        margin: 3rem;
    }

    &__logo {
        display: flex;
        align-items: center;
        margin-bottom: 6rem;
    }

    h1 {
        margin-left: 1rem;
    }

    span {
        font-size: 0.8rem;
        font-weight: 300;
    }

    a {
        text-decoration: none;
        color: $text;
    }

    &__item {
        display: flex;
        margin: 2rem 0 0 0;
        padding: 1rem 0 1rem 1rem;
        border-radius: 0.8rem;
        transition: all 0.5s ease;
    }
    &__text {
        margin: auto 0;
        color: $common-text;
    }

    p {
        font-size: 1.6rem;
        margin-left: 2rem;
        color: $common-text;
    }

    p:hover {
        color: $text;
    }
    &__text a:hover {
        color: $text;
    }
    &__picture {
        margin-top: auto;
    }
    &__arrow {
        padding: 1rem;
        margin-left: auto;
    }

    &__arrow:nth-child(1) {
        display: none;
    }

    &__item:hover {
        background-color: #5932ea;
        cursor: pointer;
        &__text {
            a {
                color: $text;
            }
        }
        p {
            color: $text;
        }
    }
    &__user {
        margin: 3rem;
        display: flex;
    }
    &__user-name {
        color: $name;
        margin-left: 1.2rem;
        h2 {
            font-weight: 500;
            font-size: 14px;
        }
        h3 {
            color: $position;
            font-weight: 400;
            font-style: normal;
            font-size: 12px;
        }
    }
}
